In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)

df = pd.read_csv('analysts_survey_1.1.csv')

In [ ]:
df.columns
df.info()
#df #298 rows

In [6]:
#cleaning 

df.dropna(axis=0, how="any", thresh=None, subset=['avg_sallary'], inplace=True)
# 260 rows (38 rows didnt have salary)
df['avg_sallary'].isna().sum()

df = df[df['job_percentage'] == 'Full-time']
# 247 rows (13 rows didnt have salary)
df['job_percentage'].isna().sum()

df = df[df['data_analyzing'] == 'Yes']
# still 247 rows
df['data_analyzing'].isna().sum()

#clean people who work at the IDF - since their salary was low 
df.drop(df[df['company'] == 'IDF'].index, inplace=True)
# 239 rows (8 worked at the IDF)


### for the regression model:
# # drop the 1 na so i can use this field in the regression model
# df.dropna(axis=0, how="any", thresh=None, subset=['course_taken'], inplace=True)
# # 238 rows (1 dropped)
# df['course_taken'].isna().sum()

# df.dropna(axis=0, how="any", thresh=None, subset=['equity'], inplace=True)
# # 230 rows (8 nulls for equity)
# df['equity'].isna().sum()

In [7]:
#df #239 rows

In [9]:
#fired 
df[['fired_covid19']].describe()
# 19 people were fired

       fired_covid19
count            239
unique             2
top               No
freq             220

In [10]:
#wages_decrease_covid19
df[['wages_decrease_covid19']].describe()
# 27 wages were decreased

       wages_decrease_covid19
count                     239
unique                      2
top                        No
freq                      212

In [11]:
#preparing the data for the model - changing text values to numbers
df['gender'].replace(['Male', 'Female'], [0, 1], inplace=True)
df['data_science'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['using_sql'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['predictive_models'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['wages_decrease_covid19'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['fired_covid19'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['equity'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['manager'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['course_taken'].replace(['No', 'Yes'], [0, 1], inplace=True)

#required_statistic_knowledge
df['required_statistic_knowledge'].replace(['No', 'Little', 'Medium', 'High'], [0, 1, 2, 3], inplace=True)

# cleaning but anyway - wont be in the model since all values are the same : Yes 
df['data_analyzing'].replace(['Yes'], [1], inplace=True)

In [12]:
#fired & wages decrease
df_fired_wages = df[["company", "fired_covid19", "wages_decrease_covid19", "startup_size"]]
df_fired_wages

,company,fired_covid19,wages_decrease_covid19,startup_size
0,Startup,1,0,Unkown
2,Corporate,0,0,NaN
3,Startup,0,0,Unkown
4,Startup,0,0,Small Startup (20-50)
5,Startup,0,0,Unkown
6,GAMFA,0,0,NaN
7,Startup,0,0,Unkown
8,GAMFA,0,0,NaN
9,Corporate,0,0,NaN
10,GAMFA,0,0,NaN
11,Startup,0,0,Unkown
12,Startup,1,0,Unkown
13,Startup,0,0,Unkown
14,Startup,0,0,Unkown
15,GAMFA,0,0,NaN
16,Startup,0,1,Unkown
17,Corporate,0,0,NaN
19,GAMFA,0,1,NaN
20,Startup,0,0,Unkown
22,Corporate,0,0,NaN
24,GAMFA,0,0,NaN
26,Corporate,0,0,NaN
27,Startup,0,0,Medium Startup (50-300)
28,Corporate,0,0,NaN
29,Corporate,0,0,NaN
30,GAMFA,0,0,NaN
31,Startup,0,0,Unkown
32,GAMFA,0,0,NaN
33,Startup,0,0,Unkown
35,Corporate,0,1,NaN
37,Startup,0,0,Small Startup (20-50)
39,Other,0,0,NaN
42,Corporate,0,0,NaN
43,GAMFA,0,0,NaN
44,NaN,0,0,NaN
45,Corporate,0,0,NaN
46,Corporate,0,1,NaN
47,Corporate,0,0,NaN
48,Corporate,0,0,NaN
50,GAMFA,0,0,NaN
51,GAMFA,0,0,NaN
52,Startup,0,1,Small Startup (20-50)
53,Corporate,0,0,NaN
54,Venture Capital,0,0,NaN
55,Startup,0,0,Unkown
56,Startup,0,0,Early Stage Startup (0-20)
57,Startup,0,0,Unkown
58,GAMFA,0,0,NaN
59,Corporate,0,0,NaN
60,Corporate,0,0,NaN
63,GAMFA,0,0,NaN
64,Corporate,0,0,NaN
65,Startup,0,0,Small Startup (20-50)
68,GAMFA,1,0,NaN
69,Startup,0,0,Early Stage Startup (0-20)
70,Startup,0,0,Unkown
71,GAMFA,0,0,NaN
74,GAMFA,0,0,NaN
75,Startup,0,0,Unkown
76,Corporate,0,1,NaN
77,Corporate,0,0,NaN
79,Startup,0,0,Unkown
80,Startup,0,0,Small Startup (20-50)
81,Public sector,0,0,NaN
82,Startup,0,0,Small - medium
85,Startup,0,0,Unkown
86,Corporate,0,0,NaN
87,Corporate,0,0,NaN
89,Corporate,0,0,NaN
90,Corporate,0,0,NaN
91,GAMFA,0,0,NaN
92,Corporate,0,0,NaN
93,Corporate,0,0,NaN
94,Corporate,0,1,NaN
96,Startup,0,0,Unkown
97,Startup,0,0,Unkown
100,GAMFA,0,0,NaN
101,Corporate,0,0,NaN
103,GAMFA,1,0,NaN
104,GAMFA,0,0,NaN
105,Startup,0,0,Early Stage Startup (0-20)
107,GAMFA,0,0,NaN
108,GAMFA,0,0,NaN
109,GAMFA,0,0,NaN
110,Corporate,0,0,NaN
112,Corporate,0,0,NaN
113,Startup,0,0,Small - medium
114,Startup,0,1,Small Startup (20-50)
116,GAMFA,0,0,NaN
117,Corporate,0,0,NaN
119,Startup,0,0,Early Stage Startup (0-20)
120,Corporate,0,0,NaN
121,GAMFA,0,0,NaN
124,Startup,0,0,Small Startup (20-50)
125,Corporate,0,0,NaN
126,Startup,0,0,Small Startup (20-50)
127,Startup,0,0,Early Stage Startup (0-20)
128,Startup,0,1,Unkown
129,Corporate,0,0,NaN
130,Startup,0,0,Small Startup (20-50)
133,Corporate,0,0,NaN
135,Startup,0,1,Unkown
136,Corporate,0,0,NaN
137,Startup,0,0,Small Startup (20-50)
138,Corporate,1,0,NaN
139,Corporate,0,0,NaN
140,Startup,0,1,Unkown
141,Corporate,0,0,NaN
142,GAMFA,0,0,NaN
144,Corporate,0,0,NaN
145,Startup,0,0,Big Startup (300+)
146,Startup,0,0,Unkown
147,Startup,0,0,Small Startup (20-50)
148,Corporate,1,0,NaN
149,Corporate,0,0,NaN
150,Startup,0,0,Unkown
151,Corporate,0,0,NaN
152,Corporate,0,0,NaN
153,Corporate,0,0,NaN
154,Startup,0,0,Small Startup (20-50)
157,Startup,0,0,Unkown
158,GAMFA,0,0,NaN
159,GAMFA,0,0,NaN
160,Corporate,0,0,NaN
162,Corporate,0,0,NaN
163,Startup,0,0,Early Stage Startup (0-20)
165,NaN,0,0,NaN
166,Startup,0,0,Unkown
168,Startup,0,0,Small Startup (20-50)
169,Startup,0,0,Unkown
170,Startup,0,1,Unkown
171,Startup,0,0,Unkown
172,Corporate,0,0,NaN
173,Startup,0,0,Unkown
174,Corporate,0,0,NaN
175,GAMFA,0,0,NaN
176,Startup,0,1,Small Startup (20-50)
177,Startup,0,0,Small Startup (20-50)
178,Corporate,0,0,NaN
179,Corporate,0,0,NaN
180,Corporate,0,0,NaN
182,Corporate,0,0,NaN
184,GAMFA,0,0,NaN
185,Data consulting,0,0,NaN
186,Management consulting,0,0,NaN
188,Startup,0,1,Unkown
189,Corporate,0,0,NaN
191,Startup,0,0,Small - medium
192,Startup,0,0,Small Startup (20-50)
193,Startup,0,0,Unkown
194,Startup,0,0,Unkown
195,GAMFA,0,0,NaN
197,Corporate,0,0,NaN
198,Startup,0,0,Unkown
200,Startup,0,0,Small Startup (20-50)
202,GAMFA,0,0,NaN
203,Corporate,1,1,NaN
204,Startup,0,0,Small Startup (20-50)
205,Startup,0,0,Unkown
206,GAMFA,0,0,NaN
207,GAMFA,0,0,NaN
208,Startup,0,0,Early Stage Startup (0-20)
209,GAMFA,0,0,NaN
210,GAMFA,0,0,NaN
211,Startup,0,0,Unkown
212,Corporate,0,0,NaN
214,Startup,0,0,Unkown
215,Corporate,0,0,NaN
216,Corporate,0,0,NaN
217,GAMFA,0,0,NaN
218,Startup,1,1,Small - medium
219,Corporate,0,1,NaN
220,Corporate,0,0,NaN
221,Corporate,0,0,NaN
222,GAMFA,0,0,NaN
223,Startup,1,0,Small Startup (20-50)
224,Startup,0,0,Small Startup (20-50)
226,Corporate,0,0,NaN
227,GAMFA,0,0,NaN
228,GAMFA,0,0,NaN
229,Corporate,0,0,NaN
230,GAMFA,0,1,NaN
231,GAMFA,0,0,NaN
232,GAMFA,0,0,NaN
233,Corporate,1,0,NaN
234,Corporate,0,0,NaN
237,GAMFA,0,0,NaN
238,Startup,0,0,Unkown
239,GAMFA,0,0,NaN
240,Corporate,0,0,NaN
241,Startup,0,0,Small Startup (20-50)
242,GAMFA,0,0,NaN
243,Startup,0,0,Small Startup (20-50)
245,Startup,1,0,Unkown
247,Corporate,0,0,NaN
248,Startup,0,0,Unkown
249,Corporate,1,1,NaN
250,GAMFA,1,0,NaN
251,Corporate,0,0,NaN
252,Startup,0,1,Unkown
253,Corporate,1,0,NaN
254,Startup,0,1,Small Startup (20-50)
255,GAMFA,0,0,NaN
256,Corporate,1,1,NaN
257,Corporate,0,0,NaN
259,Startup,0,0,Unkown
260,Startup,0,1,Early Stage Startup (0-20)
261,Startup,0,0,Unkown
262,Corporate,0,0,NaN
265,Startup,0,0,Unkown
266,Corporate,0,0,NaN
267,Startup,0,0,Unkown
269,GAMFA,0,0,NaN
270,GAMFA,0,0,NaN
271,GAMFA,0,0,NaN
272,GAMFA,0,0,NaN
273,GAMFA,0,0,NaN
274,Corporate,0,0,NaN
275,Corporate,0,0,NaN
276,Startup,0,0,Small Startup (20-50)
277,Corporate,1,0,NaN
278,GAMFA,0,0,NaN
279,GAMFA,0,0,NaN
280,GAMFA,0,0,NaN
283,Startup,0,0,Unkown
284,Startup,0,0,Unkown
285,Corporate,0,0,NaN
286,Startup,0,0,Small Startup (20-50)
287,Startup,0,0,Unkown
288,GAMFA,0,0,NaN
289,GAMFA,0,0,NaN
290,GAMFA,0,0,NaN
291,Startup,0,0,Small Startup (20-50)
292,Startup,0,1,Small Startup (20-50)
293,GAMFA,0,0,NaN
294,GAMFA,1,1,NaN
295,Corporate,1,1,NaN
296,Startup,0,0,Small - medium
297,Corporate,1,1,NaN

In [13]:
df_fired_wages["wages_decrease_covid19"].groupby(df_fired_wages["company"]).aggregate([np.count_nonzero])

                       count_nonzero
company
Corporate                         10
Data consulting                    0
GAMFA                              3
Management consulting              0
Other                              0
Public sector                      0
Startup                           14
Venture Capital                    0

In [14]:
df_fired_wages["fired_covid19"].groupby(df_fired_wages["company"]).aggregate([np.count_nonzero])

                       count_nonzero
company
Corporate                         10
Data consulting                    0
GAMFA                              4
Management consulting              0
Other                              0
Public sector                      0
Startup                            5
Venture Capital                    0

In [15]:
# check startup size - fired
df_fired_wages["fired_covid19"].groupby(df_fired_wages["startup_size"]).aggregate([np.count_nonzero])

                            count_nonzero
startup_size
Big Startup (300+)                      0
Early Stage Startup (0-20)              0
Medium Startup (50-300)                 0
Small - medium                          1
Small Startup (20-50)                   1
Unkown                                  3
Unkown                                  0

In [16]:
# check startup size - wage decrease
df_fired_wages["wages_decrease_covid19"].groupby(df_fired_wages["startup_size"]).aggregate([np.count_nonzero])

                            count_nonzero
startup_size
Big Startup (300+)                      0
Early Stage Startup (0-20)              1
Medium Startup (50-300)                 0
Small - medium                          1
Small Startup (20-50)                   5
Unkown                                  7
Unkown                                  0

In [17]:
#fired wages decrease
df.groupby('fired_covid19')[['wages_decrease_covid19']].mean().reset_index()

   fired_covid19  wages_decrease_covid19
0              0                0.090909
1              1                0.368421