In [1]:
# Education

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('analysts_survey_1.1.csv')

pd.set_option('display.max_rows', None)

In [2]:
#cleaning 

df.dropna(axis=0, how="any", thresh=None, subset=['avg_sallary'], inplace=True)
# 260 rows (38 rows didnt have salary)
df['avg_sallary'].isna().sum()

df = df[df['job_percentage'] == 'Full-time']
# 247 rows (13 rows didnt have salary)
df['job_percentage'].isna().sum()

df = df[df['data_analyzing'] == 'Yes']
# still 247 rows
df['data_analyzing'].isna().sum()

#clean people who work at the IDF - since their salary was low 
df.drop(df[df['company'] == 'IDF'].index, inplace=True)
# 239 rows (8 worked at the IDF)

In [3]:
df[['school_degree']].describe() #70/227 that ansered to that question studied economy

       school_degree
count            227
unique            27
top        Economics
freq              70

In [4]:
df[['school_degree']].value_counts()

school_degree
Economics                                                      70
Industrial engineering                                         59
Social Sciences                                                23
Business Administration                                        13
Statistics                                                     13
Information Systems Engineering                                11
Accountant                                                      8
Natural Sciences                                                6
Computer Science                                                6
Economics and Mathematics                                       1
Biology                                                         1
Brain Sciences                                                  1
Business Administration and Information Systems Engineering     1
Dr. Brain Sciences                                              1
Economics and Accountant                                        1
Economics and Computer Science                                  1
accountant and infor                                            1
Electrical Engineering and Physics                              1
Engineering - Other                                             1
Information Systems Engineeringbsc                              1
Law                                                             1
Logistics                                                       1
Logistics ?Economics                                            1
MBA                                                             1
Pacam                                                           1
Psychology                                                      1
Humanities                                                      1
dtype: int64

In [5]:
# only data analysts (droping the 12 data scientists)
# df without data scientists 
df_analysts = df[df['data_science'] == "No"]
df_analysts

,analyst_id,gender,age,data_analyzing,analyst_type,data_science,living_area,office_area,job_percentage,sallary,...,course_taken,course_name,visualization_tool,using_sql,required_statistic_knowledge,predictive_models,wages_decrease_covid19,fired_covid19,company,startup_size
0,1,Male,29,Yes,Cyber security,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Looker, Redash",Yes,Little,Yes,No,Yes,Startup,Unkown
2,3,Male,33,Yes,Multiple,No,Tel Aviv,Center,Full-time,23 - 25,...,No,NaN,"Tableau, Looker",Yes,Medium,No,No,No,Corporate,NaN
3,4,Female,31,Yes,Business,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,Power BI,No,Medium,No,No,No,Startup,Unkown
4,5,Male,38,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Google Data studio,No,No,No,No,No,Startup,Small Startup (20-50)
5,6,Male,30,Yes,BI,No,Tel Aviv,Center,Full-time,15 - 18,...,Yes,Naya College,Power BI,Yes,No,No,No,No,Startup,Unkown
6,7,Male,31,Yes,Product,No,Haifa,Center,Full-time,18 - 20,...,No,NaN,"Power BI, Looker",Yes,Medium,No,No,No,GAMFA,NaN
7,8,Male,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Medium,No,No,No,Startup,Unkown
8,9,Male,22,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,GAMFA,NaN
9,10,Female,30,Yes,BI,No,Center,Center,Full-time,18 - 20,...,No,NaN,Power BI,Yes,Little,No,No,No,Corporate,NaN
10,11,Female,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,"Excel, python, splunk",Yes,Medium,No,No,No,GAMFA,NaN
11,12,Female,33,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Power BI,Yes,Medium,No,No,No,Startup,Unkown
12,13,Male,36,Yes,BI,No,Center,Center,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,Yes,No,Yes,Startup,Unkown
13,14,Female,37,Yes,Product,No,Center,Tel Aviv,Full-time,35 - 38,...,No,NaN,Looker,Yes,Medium,No,No,No,Startup,Unkown
14,15,Female,34,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,"Tableau, Google Data studio",Yes,Little,Yes,No,No,Startup,Unkown
15,16,Male,29,Yes,Multiple,No,South,Tel Aviv,Full-time,18 - 20,...,No,NaN,Redash,Yes,Little,No,No,No,GAMFA,NaN
16,17,Female,35,Yes,Product,No,Center,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,Yes,No,Startup,Unkown
17,18,Male,29,Yes,BI,No,Center,Center,Full-time,18 - 20,...,No,NaN,Power BI,Yes,No,No,No,No,Corporate,NaN
19,20,Female,30,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Excel,No,No,No,Yes,No,GAMFA,NaN
20,21,Male,35,Yes,Multiple,No,South,Tel Aviv,Full-time,35 - 38,...,No,NaN,"Tableau, Looker",Yes,Little,No,No,No,Startup,Unkown
22,23,Male,31,Yes,Financial,No,Center,Tel Aviv,Full-time,13 - 15,...,No,NaN,Excel,No,Medium,Yes,No,No,Corporate,NaN
24,25,Male,27,Yes,Risk,No,Center,Tel Aviv,Full-time,30 - 33,...,No,NaN,Tableau,Yes,Little,No,No,No,GAMFA,NaN
26,27,Male,35,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Excel,No,Little,No,No,No,Corporate,NaN
27,28,Male,35,Yes,Multiple,No,North,Tel Aviv,Full-time,25 - 28,...,No,NaN,Looker,Yes,Little,Yes,No,No,Startup,Medium Startup (50-300)
28,29,Female,37,Yes,Marketing,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Excel, Datorama",No,Little,Yes,No,No,Corporate,NaN
29,30,Male,33,Yes,BI,No,Jerusalem,Jerusalem,Full-time,13 - 15,...,Yes,John Brice,Power BI,No,Little,No,No,No,Corporate,NaN
30,31,Female,38,Yes,Product,No,Center,Center,Full-time,25 - 28,...,No,NaN,"Tableau, Looker, amplitude",Yes,High,Yes,No,No,GAMFA,NaN
31,32,Female,35,Yes,Sales,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Tableau, Qlicksense",No,Little,Yes,No,No,Startup,Unkown
32,33,Male,26,Yes,Financial,No,Center,Center,Full-time,13 - 15,...,No,NaN,Tableau,No,Little,No,No,No,GAMFA,NaN
33,34,Male,41,Yes,Multiple,No,Center,Center,Full-time,35 - 38,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,Startup,Unkown
35,36,Male,34,Yes,BI,No,Center,Tel Aviv,Full-time,15 - 18,...,No,NaN,Excel,Yes,Medium,Yes,Yes,No,Corporate,NaN
37,38,Female,21,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,No,No,No,No,Startup,Small Startup (20-50)
39,40,Male,38,Yes,Sales,No,Center,Center,Full-time,15 - 18,...,No,NaN,Excel,No,Little,No,No,No,Other,NaN
42,43,Male,28,Yes,Multiple,No,Be'er Sheva,Tel Aviv,Full-time,13 - 15,...,Yes,Naya College,Metabase,Yes,Medium,Yes,No,No,Corporate,NaN
43,44,Male,24,Yes,BI,No,Center,Center,Full-time,15 - 18,...,Yes,Naya College,Don't use,Yes,Little,No,No,No,GAMFA,NaN
44,45,Female,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,Tableau,Yes,Little,No,No,No,NaN,NaN
45,46,Female,42,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,Tableau,No,Little,Yes,No,No,Corporate,NaN
46,47,Female,35,Yes,Multiple,No,Center,Center,Full-time,15 - 18,...,No,NaN,Power point,Yes,No,No,Yes,No,Corporate,NaN
47,48,Male,35,Yes,BI,No,Center,Center,Full-time,18 - 20,...,Yes,Technion,Power BI,Yes,No,No,No,No,Corporate,NaN
50,51,Female,38,Yes,Multiple,No,Center,Home,Full-time,35 - 38,...,No,NaN,Tableau,Yes,No,No,No,No,GAMFA,NaN
51,52,Male,30,Yes,Product,No,North,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Medium,No,No,No,GAMFA,NaN
52,53,Female,36,Yes,Fraud,No,Center,Center,Full-time,13 - 15,...,Yes,Moadon Anetunim,Tableau,Yes,Medium,No,Yes,No,Startup,Small Startup (20-50)
53,54,Male,40,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,40,...,No,NaN,"Excel, We developed our own tool",Yes,High,Yes,No,No,Corporate,NaN
54,55,Male,31,Yes,Multiple,No,Center,Center,Full-time,13 - 15,...,No,NaN,Power BI,Yes,Medium,No,No,No,Venture Capital,NaN
55,56,Male,32,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,Yes,Naya College,Tableau,Yes,Medium,No,No,No,Startup,Unkown
57,58,Male,34,Yes,Product,No,Center,Center,Full-time,23 - 25,...,No,Udemy,"Tableau, Looker, Redash",Yes,Medium,No,No,No,Startup,Unkown
58,59,Female,28,Yes,Multiple,No,North,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,No,No,No,GAMFA,NaN
59,60,Male,23,Yes,Multiple,No,Center,Center,Full-time,15 - 18,...,No,NaN,"Power BI, Tableau",Yes,No,No,No,No,Corporate,NaN
60,61,Male,31,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, google studio",Yes,Little,Yes,No,No,Corporate,NaN
63,64,Male,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,High,Yes,No,No,GAMFA,NaN
64,65,Male,31,Yes,Marketing,No,Center,Center,Full-time,15 - 18,...,No,NaN,Tableau,Yes,Little,No,No,No,Corporate,NaN
65,66,Male,28,Yes,BI,No,Tel Aviv,Center,Full-time,13 - 15,...,No,NaN,Tableau,Yes,High,Yes,No,No,Startup,Small Startup (20-50)
68,69,Male,31,Yes,BI,No,Haifa,Tel Aviv,Full-time,13 - 15,...,Yes,Datamaze - Eyal Gurfinkel,Tableau,Yes,Medium,No,No,Yes,GAMFA,NaN
70,71,Female,35,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,"Tableau, Redash",Yes,Medium,Yes,No,No,Startup,Unkown
71,72,Female,30,Yes,Business,No,North,North,Full-time,15 - 18,...,Yes,Naya College,"Power BI, Qlik view \ Qlik sense",Yes,Medium,Yes,No,No,GAMFA,NaN
74,75,Male,26,Yes,Financial,No,South,Center,Full-time,18 - 20,...,No,NaN,"Power BI, Tableau",Yes,Medium,No,No,No,GAMFA,NaN
75,76,Male,31,Yes,Business,No,Tel Aviv,Center,Full-time,13 - 15,...,Yes,Naya College,Qlik view \ Qlik sense,Yes,Little,No,No,No,Startup,Unkown
76,77,Male,31,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,Yes,Experis,Tableau,Yes,Little,No,Yes,No,Corporate,NaN
77,78,Female,44,Yes,Multiple,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Qlik view \ Qlik sense",Yes,Medium,No,No,No,Corporate,NaN
79,80,Female,32,Yes,BI,No,Center,Center,Full-time,23 - 25,...,No,NaN,Sisense,Yes,Medium,No,No,No,Startup,Unkown
80,81,Male,32,Yes,Cyber security,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,"Power BI, Elastic",No,No,Yes,No,No,Startup,Small Startup (20-50)
81,82,Male,30,Yes,BI,No,Tel Aviv,Jerusalem,Full-time,13 - 15,...,No,NaN,Don't use,No,No,No,No,No,Public sector,NaN
82,83,Male,29,Yes,BI,No,Center,Tel Aviv,Full-time,15 - 18,...,No,NaN,Excel,Yes,Medium,Yes,No,No,Startup,Small - medium
85,86,Male,30,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Tableau, Redash",Yes,Medium,No,No,No,Startup,Unkown
86,87,Male,28,Yes,BI,No,Jerusalem,Jerusalem,Full-time,15 - 18,...,Yes,Naya College,Power BI,Yes,Little,No,No,No,Corporate,NaN
87,88,Male,45,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,Yes,New Media,Tableau,Yes,Medium,Yes,No,No,Corporate,NaN
89,90,Male,28,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,Yes,Naya College,Sisense,Yes,No,No,No,No,Corporate,NaN
90,91,Male,46,Yes,Multiple,No,North,North,Full-time,18 - 20,...,No,NaN,"Excel, Qlik view \ Qlik sense, Pov",Yes,Little,No,No,No,Corporate,NaN
91,92,Female,28,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Excel,No,Little,No,No,No,GAMFA,NaN
92,93,Male,31,Yes,Multiple,No,Center,Center,Full-time,13 - 15,...,Yes,Netcraft,Excel,No,No,No,No,No,Corporate,NaN
93,94,Male,28,Yes,Product,No,Center,Center,Full-time,13 - 15,...,Yes,Naya College,Power BI,Yes,Medium,No,No,No,Corporate,NaN
94,95,Male,37,Yes,Multiple,No,Center,Center,Full-time,15 - 18,...,No,NaN,Power BI,Yes,Little,Yes,Yes,No,Corporate,NaN
96,97,Male,28,Yes,BI,No,Center,Center,Full-time,13 - 15,...,Yes,Bar Ilan - BI,Power BI,Yes,Little,No,No,No,Startup,Unkown
97,98,Female,39,Yes,Multiple,No,Center,Tel Aviv,Full-time,25 - 28,...,Yes,She codes,Tableau,Yes,Medium,Yes,No,No,Startup,Unkown
100,101,Female,29,Yes,operations,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,Yes,No,No,GAMFA,NaN
101,102,Male,29,Yes,Multiple,No,Center,Tel Aviv,Full-time,13 - 15,...,No,NaN,"Excel, Python",Yes,Medium,Yes,No,No,Corporate,NaN
103,104,Male,32,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,Udemy,Plotky,Yes,Medium,No,No,Yes,GAMFA,NaN
105,106,Female,31,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,Tableau,Yes,Medium,No,No,No,Startup,Early Stage Startup (0-20)
107,108,Male,33,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,GAMFA,NaN
108,109,Male,36,Yes,Financial,No,South,Tel Aviv,Full-time,13 - 15,...,Yes,Technion,Power BI,Yes,No,No,No,No,GAMFA,NaN
109,110,Male,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,No,No,No,GAMFA,NaN
110,111,Female,30,Yes,Financial,No,Be'er Sheva,Tel Aviv,Full-time,18 - 20,...,No,NaN,Qlik view \ Qlik sense,Yes,Little,Yes,No,No,Corporate,NaN
113,114,Male,31,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Power BI,Yes,Little,No,No,No,Startup,Small - medium
114,115,Male,35,Yes,Multiple,No,Center,Tel Aviv,Full-time,35 - 38,...,No,NaN,"Power BI, Redash",Yes,No,No,Yes,No,Startup,Small Startup (20-50)
116,117,Male,30,Yes,Product,No,Tel Aviv,Center,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Medium,No,No,No,GAMFA,NaN
117,118,Male,49,Yes,Multiple,No,Be'er Sheva,Home,Full-time,18 - 20,...,No,NaN,"Excel, Qlik view \ Qlik sense",Yes,Medium,No,No,No,Corporate,NaN
119,120,Male,27,Yes,Multiple,No,Center,Home,Full-time,13 - 15,...,No,NaN,Power BI,No,No,No,No,No,Startup,Early Stage Startup (0-20)
120,121,Male,42,Yes,Marketing,No,Center,Center,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,No,No,No,Corporate,NaN
121,122,Female,36,Yes,Multiple,No,Center,Tel Aviv,Full-time,25 - 28,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,GAMFA,NaN
124,125,Male,31,Yes,BI,No,Center,Center,Full-time,15 - 18,...,Yes,Naya College,Power BI,Yes,No,No,No,No,Startup,Small Startup (20-50)
125,126,Male,37,Yes,Multiple,No,Center,Center,Full-time,13 - 15,...,Yes,Naya College,Tableau,No,Little,No,No,No,Corporate,NaN
126,127,Male,25,Yes,Product,No,Center,Center,Full-time,18 - 20,...,Yes,IDF,"Power BI, Tableau",Yes,Medium,No,No,No,Startup,Small Startup (20-50)
127,128,Male,33,Yes,Multiple,No,Center,Center,Full-time,15 - 18,...,No,NaN,"Excel, Don't use",Yes,Medium,Yes,No,No,Startup,Early Stage Startup (0-20)
128,129,Male,34,Yes,Multiple,No,Tel Aviv,Center,Full-time,33 - 35,...,Yes,IDF,"Tableau, Redash",Yes,High,Yes,Yes,No,Startup,Unkown
129,130,Male,25,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,Yes,IDF,Tableau,Yes,Little,No,No,No,Corporate,NaN
130,131,Female,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,Little,No,No,No,Startup,Small Startup (20-50)
133,134,Female,32,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,Tableau,Yes,Little,No,No,No,Corporate,NaN
135,136,Female,28,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,Yes,No,Startup,Unkown
136,137,Female,26,Yes,Multiple,No,Tel Aviv,Center,Full-time,13 - 15,...,No,NaN,"Power BI, Qlik view \ Qlik sense",Yes,Little,No,No,No,Corporate,NaN
137,138,Male,34,Yes,Multiple,No,Center,Tel Aviv,Full-time,35 - 38,...,No,NaN,Tableau,Yes,Little,Yes,No,No,Startup,Small Startup (20-50)
138,139,Female,33,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,"Excel, Google Data studio, Qlik view \ Qlik sense",Yes,Little,No,No,Yes,Corporate,NaN
139,140,Male,33,Yes,Multiple,No,Haifa,Tel Aviv,Full-time,15 - 18,...,No,NaN,Tableau,Yes,Little,No,No,No,Corporate,NaN
140,141,Male,35,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,"Looker, Google Data studio",Yes,Medium,Yes,Yes,No,Startup,Unkown
141,142,Male,35,Yes,BI,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,Qlik view \ Qlik sense,Yes,Medium,No,No,No,Corporate,NaN
142,143,Male,31,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,Tableau,Yes,Little,Yes,No,No,GAMFA,NaN
144,145,Female,38,Yes,Financial,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Google Data studio, Sisense",Yes,High,Yes,No,No,Corporate,NaN
145,146,Male,39,Yes,Product,No,Center,Center,Full-time,23 - 25,...,No,NaN,Looker,Yes,Medium,No,No,No,Startup,Big Startup (300+)
146,147,Male,37,Yes,Multiple,No,North,Tel Aviv,Full-time,35 - 38,...,No,NaN,Sisense,Yes,Medium,Yes,No,No,Startup,Unkown
147,148,Female,38,Yes,Multiple,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Redash",Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
148,149,Male,32,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,Yes,Naya College,"Power BI, Google Data studio, Qlik view \ Qlik...",Yes,Little,No,No,Yes,Corporate,NaN
149,150,Male,28,Yes,Financial,No,Center,Center,Full-time,13 - 15,...,No,NaN,Tableau,No,Medium,No,No,No,Corporate,NaN
150,151,Male,31,Yes,Product,No,Center,Center,Full-time,25 - 28,...,No,NaN,"Tableau, Google Data studio",Yes,High,Yes,No,No,Startup,Unkown
151,152,Female,40,Yes,BI,No,Center,Center,Full-time,18 - 20,...,No,NaN,Power BI,Yes,No,No,No,No,Corporate,NaN
152,153,Male,26,Yes,BI,No,South,South,Full-time,13 - 15,...,No,NaN,"Power BI, Tableau",Yes,High,No,No,No,Corporate,NaN
153,154,Female,33,Yes,Marketing,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Excel, Qlik view \ Qlik sense",Yes,Little,No,No,No,Corporate,NaN
154,155,Male,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,No,Medium,Yes,No,No,Startup,Small Startup (20-50)
157,158,Male,30,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,Tableau,Yes,Little,No,No,No,Startup,Unkown
158,159,Male,31,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,Yes,Naya College,Tableau,Yes,Medium,No,No,No,GAMFA,NaN
159,160,Male,28,Yes,Fraud,No,Center,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Tableau, Google Data studio",Yes,Medium,No,No,No,GAMFA,NaN
160,161,Female,29,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Looker, Google Data studio",Yes,High,No,No,No,Corporate,NaN
162,163,Male,33,Yes,Planning,No,Center,Center,Full-time,18 - 20,...,No,NaN,Tableau,No,Little,Yes,No,No,Corporate,NaN
163,164,Male,34,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,Yes,Datappl,Tableau,Yes,No,No,No,No,Startup,Early Stage Startup (0-20)
165,166,Male,41,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,"Excel, Qlik view \ Qlik sense",Yes,Little,No,No,No,NaN,NaN
166,167,Male,38,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Redash,Yes,Little,No,No,No,Startup,Unkown
168,169,Male,35,Yes,Product,No,Center,Center,Full-time,18 - 20,...,No,NaN,"Excel, Don't use",Yes,No,No,No,No,Startup,Small Startup (20-50)
169,170,Female,33,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,Redash,Yes,Medium,No,No,No,Startup,Unkown
171,172,Female,28,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Sisense",Yes,Medium,Yes,No,No,Startup,Unkown
172,173,Female,31,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,"Power BI, Tableau",Yes,Little,No,No,No,Corporate,NaN
173,174,Male,30,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,Medium,No,No,No,Startup,Unkown
174,175,Male,29,Yes,BI,No,Jerusalem,Center,Full-time,13 - 15,...,No,NaN,NaN,No,No,No,No,No,Corporate,NaN
175,176,Female,26,Yes,Fraud,No,Jerusalem,Tel Aviv,Full-time,18 - 20,...,No,NaN,Excel,Yes,Medium,No,No,No,GAMFA,NaN
176,177,Female,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Redash,Yes,Medium,Yes,Yes,No,Startup,Small Startup (20-50)
177,178,Male,27,Yes,Multiple,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Excel, Qlik view \ Qlik sense",Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
178,179,Male,31,Yes,Financial,No,North,Center,Full-time,13 - 15,...,No,NaN,Power BI,No,No,No,No,No,Corporate,NaN
179,180,Male,33,Yes,Business,No,Center,Center,Full-time,15 - 18,...,No,NaN,Excel,No,No,Yes,No,No,Corporate,NaN
180,181,Female,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,Yes,Unknown,Tableau,Yes,Medium,No,No,No,Corporate,NaN
182,183,Male,35,Yes,Multiple,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,Excel,Yes,Medium,Yes,No,No,Corporate,NaN
184,185,Male,35,Yes,Multiple,No,South,Center,Full-time,18 - 20,...,No,NaN,Don't use,Yes,High,Yes,No,No,GAMFA,NaN
185,186,Male,38,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,Yes,No,No,Data consulting,NaN
186,187,Male,29,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,Excel,No,Medium,Yes,No,No,Management consulting,NaN
188,189,Female,35,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,Qlik view \ Qlik sense,Yes,High,Yes,Yes,No,Startup,Unkown
189,190,Male,29,Yes,Multiple,No,Center,Tel Aviv,Full-time,13 - 15,...,Yes,Naya College,Excel,No,No,No,No,No,Corporate,NaN
191,192,Female,30,Yes,BI,No,Center,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,Little,No,No,No,Startup,Small - medium
192,193,Female,24,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
193,194,Female,27,Yes,Multiple,No,Center,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Tableau, Google Data studio, Sisense",Yes,Medium,No,No,No,Startup,Unkown
194,195,Male,31,Yes,Multiple,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Looker, Google Data studio",Yes,Little,No,No,No,Startup,Unkown
195,196,Female,28,Yes,Multiple,No,North,Center,Full-time,18 - 20,...,No,NaN,Don't use,Yes,Medium,No,No,No,GAMFA,NaN
197,198,Male,26,Yes,Marketing,No,Tel Aviv,Center,Full-time,13 - 15,...,No,NaN,Qlik view \ Qlik sense,Yes,Medium,No,No,No,Corporate,NaN
198,199,Female,36,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,Tableau,Yes,High,Yes,No,No,Startup,Unkown
200,201,Female,28,Yes,BI,No,Center,Center,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
203,204,Male,42,Yes,BI,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,Yes,Technion,Cognos,Yes,No,No,Yes,Yes,Corporate,NaN
204,205,Male,34,Yes,Multiple,No,Haifa,Haifa,Full-time,18 - 20,...,No,NaN,Excel,No,Medium,No,No,No,Startup,Small Startup (20-50)
205,206,Male,45,Yes,Multiple,No,Center,Center,Full-time,25 - 28,...,No,NaN,"Looker, Google Data studio",Yes,Medium,Yes,No,No,Startup,Unkown
206,207,Male,34,Yes,Multiple,No,Center,North,Full-time,18 - 20,...,No,NaN,"Power BI, Qlik view \ Qlik sense",No,No,No,No,No,GAMFA,NaN
207,208,Male,34,Yes,Multiple,No,North,Home,Full-time,30 - 33,...,No,NaN,Excel,Yes,Little,No,No,No,GAMFA,NaN
208,209,Male,28,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,Looker,Yes,Medium,Yes,No,No,Startup,Early Stage Startup (0-20)

In [6]:
# only female analysts
df_analysts_female = df_analysts.loc[df_analysts['gender'] == "Female"]
df_analysts_female

,analyst_id,gender,age,data_analyzing,analyst_type,data_science,living_area,office_area,job_percentage,sallary,...,course_taken,course_name,visualization_tool,using_sql,required_statistic_knowledge,predictive_models,wages_decrease_covid19,fired_covid19,company,startup_size
3,4,Female,31,Yes,Business,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,Power BI,No,Medium,No,No,No,Startup,Unkown
9,10,Female,30,Yes,BI,No,Center,Center,Full-time,18 - 20,...,No,NaN,Power BI,Yes,Little,No,No,No,Corporate,NaN
10,11,Female,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,"Excel, python, splunk",Yes,Medium,No,No,No,GAMFA,NaN
11,12,Female,33,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Power BI,Yes,Medium,No,No,No,Startup,Unkown
13,14,Female,37,Yes,Product,No,Center,Tel Aviv,Full-time,35 - 38,...,No,NaN,Looker,Yes,Medium,No,No,No,Startup,Unkown
14,15,Female,34,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,"Tableau, Google Data studio",Yes,Little,Yes,No,No,Startup,Unkown
16,17,Female,35,Yes,Product,No,Center,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,Yes,No,Startup,Unkown
19,20,Female,30,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Excel,No,No,No,Yes,No,GAMFA,NaN
28,29,Female,37,Yes,Marketing,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Excel, Datorama",No,Little,Yes,No,No,Corporate,NaN
30,31,Female,38,Yes,Product,No,Center,Center,Full-time,25 - 28,...,No,NaN,"Tableau, Looker, amplitude",Yes,High,Yes,No,No,GAMFA,NaN
31,32,Female,35,Yes,Sales,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Tableau, Qlicksense",No,Little,Yes,No,No,Startup,Unkown
37,38,Female,21,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,No,No,No,No,Startup,Small Startup (20-50)
44,45,Female,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,Tableau,Yes,Little,No,No,No,NaN,NaN
45,46,Female,42,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,Tableau,No,Little,Yes,No,No,Corporate,NaN
46,47,Female,35,Yes,Multiple,No,Center,Center,Full-time,15 - 18,...,No,NaN,Power point,Yes,No,No,Yes,No,Corporate,NaN
50,51,Female,38,Yes,Multiple,No,Center,Home,Full-time,35 - 38,...,No,NaN,Tableau,Yes,No,No,No,No,GAMFA,NaN
52,53,Female,36,Yes,Fraud,No,Center,Center,Full-time,13 - 15,...,Yes,Moadon Anetunim,Tableau,Yes,Medium,No,Yes,No,Startup,Small Startup (20-50)
58,59,Female,28,Yes,Multiple,No,North,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,No,No,No,GAMFA,NaN
70,71,Female,35,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,"Tableau, Redash",Yes,Medium,Yes,No,No,Startup,Unkown
71,72,Female,30,Yes,Business,No,North,North,Full-time,15 - 18,...,Yes,Naya College,"Power BI, Qlik view \ Qlik sense",Yes,Medium,Yes,No,No,GAMFA,NaN
77,78,Female,44,Yes,Multiple,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Qlik view \ Qlik sense",Yes,Medium,No,No,No,Corporate,NaN
79,80,Female,32,Yes,BI,No,Center,Center,Full-time,23 - 25,...,No,NaN,Sisense,Yes,Medium,No,No,No,Startup,Unkown
91,92,Female,28,Yes,Financial,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Excel,No,Little,No,No,No,GAMFA,NaN
97,98,Female,39,Yes,Multiple,No,Center,Tel Aviv,Full-time,25 - 28,...,Yes,She codes,Tableau,Yes,Medium,Yes,No,No,Startup,Unkown
100,101,Female,29,Yes,operations,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Little,Yes,No,No,GAMFA,NaN
105,106,Female,31,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,Tableau,Yes,Medium,No,No,No,Startup,Early Stage Startup (0-20)
110,111,Female,30,Yes,Financial,No,Be'er Sheva,Tel Aviv,Full-time,18 - 20,...,No,NaN,Qlik view \ Qlik sense,Yes,Little,Yes,No,No,Corporate,NaN
121,122,Female,36,Yes,Multiple,No,Center,Tel Aviv,Full-time,25 - 28,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,GAMFA,NaN
130,131,Female,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,Little,No,No,No,Startup,Small Startup (20-50)
133,134,Female,32,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,Tableau,Yes,Little,No,No,No,Corporate,NaN
135,136,Female,28,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,Yes,No,Startup,Unkown
136,137,Female,26,Yes,Multiple,No,Tel Aviv,Center,Full-time,13 - 15,...,No,NaN,"Power BI, Qlik view \ Qlik sense",Yes,Little,No,No,No,Corporate,NaN
138,139,Female,33,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,"Excel, Google Data studio, Qlik view \ Qlik sense",Yes,Little,No,No,Yes,Corporate,NaN
144,145,Female,38,Yes,Financial,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Google Data studio, Sisense",Yes,High,Yes,No,No,Corporate,NaN
147,148,Female,38,Yes,Multiple,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Redash",Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
151,152,Female,40,Yes,BI,No,Center,Center,Full-time,18 - 20,...,No,NaN,Power BI,Yes,No,No,No,No,Corporate,NaN
153,154,Female,33,Yes,Marketing,No,Center,Center,Full-time,13 - 15,...,No,NaN,"Excel, Qlik view \ Qlik sense",Yes,Little,No,No,No,Corporate,NaN
160,161,Female,29,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Looker, Google Data studio",Yes,High,No,No,No,Corporate,NaN
169,170,Female,33,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,35 - 38,...,No,NaN,Redash,Yes,Medium,No,No,No,Startup,Unkown
171,172,Female,28,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Sisense",Yes,Medium,Yes,No,No,Startup,Unkown
172,173,Female,31,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,"Power BI, Tableau",Yes,Little,No,No,No,Corporate,NaN
175,176,Female,26,Yes,Fraud,No,Jerusalem,Tel Aviv,Full-time,18 - 20,...,No,NaN,Excel,Yes,Medium,No,No,No,GAMFA,NaN
176,177,Female,30,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Redash,Yes,Medium,Yes,Yes,No,Startup,Small Startup (20-50)
180,181,Female,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,Yes,Unknown,Tableau,Yes,Medium,No,No,No,Corporate,NaN
188,189,Female,35,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,Qlik view \ Qlik sense,Yes,High,Yes,Yes,No,Startup,Unkown
191,192,Female,30,Yes,BI,No,Center,Tel Aviv,Full-time,13 - 15,...,No,NaN,Tableau,Yes,Little,No,No,No,Startup,Small - medium
192,193,Female,24,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
193,194,Female,27,Yes,Multiple,No,Center,Tel Aviv,Full-time,15 - 18,...,No,NaN,"Tableau, Google Data studio, Sisense",Yes,Medium,No,No,No,Startup,Unkown
195,196,Female,28,Yes,Multiple,No,North,Center,Full-time,18 - 20,...,No,NaN,Don't use,Yes,Medium,No,No,No,GAMFA,NaN
198,199,Female,36,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,30 - 33,...,No,NaN,Tableau,Yes,High,Yes,No,No,Startup,Unkown
200,201,Female,28,Yes,BI,No,Center,Center,Full-time,23 - 25,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,Startup,Small Startup (20-50)
209,210,Female,32,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,25 - 28,...,No,NaN,Tableau,Yes,Medium,No,No,No,GAMFA,NaN
210,211,Female,30,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,23 - 25,...,No,NaN,Looker,Yes,Medium,Yes,No,No,GAMFA,NaN
214,215,Female,35,Yes,Fraud,No,Center,Center,Full-time,23 - 25,...,No,Udemy,Tableau,Yes,Little,No,No,No,Startup,Unkown
230,231,Female,37,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,Yes,Elevation,Tableau,Yes,Little,No,Yes,No,GAMFA,NaN
231,232,Female,30,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,Yes,Medium,Yes,No,No,GAMFA,NaN
234,235,Female,29,Yes,Financial,No,Center,Center,Full-time,13 - 15,...,No,NaN,Excel,No,No,No,No,No,Corporate,NaN
238,239,Female,34,Yes,Product,No,Jerusalem,Jerusalem,Full-time,18 - 20,...,No,NaN,"Tableau, Redash",Yes,Little,No,No,No,Startup,Unkown
241,242,Female,30,Yes,Multiple,No,Center,Tel Aviv,Full-time,15 - 18,...,No,NaN,Don't use,Yes,Little,Yes,No,No,Startup,Small Startup (20-50)
243,244,Female,23,Yes,Multiple,No,Center,Center,Full-time,18 - 20,...,No,NaN,"Excel, Sisense",Yes,No,No,No,No,Startup,Small Startup (20-50)
245,246,Female,36,Yes,BI,No,Center,Tel Aviv,Full-time,18 - 20,...,No,NaN,"Tableau, Qlik view \ Qlik sense",Yes,Little,No,No,Yes,Startup,Unkown
250,251,Female,29,Yes,Risk,No,Haifa,Center,Full-time,15 - 18,...,No,NaN,Power BI,Yes,Little,No,No,Yes,GAMFA,NaN
257,258,Female,23,Yes,Marketing,No,Tel Aviv,Tel Aviv,Full-time,15 - 18,...,Yes,IDF,Excel,Yes,Little,Yes,No,No,Corporate,NaN
260,261,Female,43,Yes,Multiple,No,Center,Center,Full-time,15 - 18,...,No,Online courses,Don't use,Yes,No,No,Yes,No,Startup,Early Stage Startup (0-20)
262,263,Female,40,Yes,Multiple,No,Be'er Sheva,Tel Aviv,Full-time,18 - 20,...,No,NaN,Excel,Yes,Little,No,No,No,Corporate,NaN
270,271,Female,27,Yes,Customer support,No,Haifa,Tel Aviv,Full-time,15 - 18,...,No,NaN,Tableau,Yes,No,No,No,No,GAMFA,NaN
272,273,Female,33,Yes,Multiple,No,Center,Center,Full-time,35 - 38,...,No,NaN,Power BI,Yes,No,Yes,No,No,GAMFA,NaN
273,274,Female,33,Yes,Marketing,No,Center,Center,Full-time,18 - 20,...,No,NaN,"Excel, Google Data studio",Yes,Medium,Yes,No,No,GAMFA,NaN
274,275,Female,37,Yes,operations,No,Center,Tel Aviv,Full-time,13 - 15,...,Yes,Naya College,Power BI,No,No,No,No,No,Corporate,NaN
275,276,Female,48,Yes,Bioinformatics,No,Jerusalem,Jerusalem,Full-time,13 - 15,...,No,NaN,R,No,Little,No,No,No,Corporate,NaN
279,280,Female,32,Yes,Marketing,No,North,Center,Full-time,18 - 20,...,Yes,Naya College,"Power BI, Qlik view \ Qlik sense",No,Little,No,No,No,GAMFA,NaN
283,284,Female,26,Yes,Multiple,No,Haifa,Tel Aviv,Full-time,13 - 15,...,No,NaN,Power BI,No,Medium,Yes,No,No,Startup,Unkown
284,285,Female,30,Yes,Business,No,Haifa,Center,Full-time,18 - 20,...,Yes,Technion,Excel,Yes,No,No,No,No,Startup,Unkown
286,287,Female,27,Yes,Multiple,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Power BI,Yes,Medium,No,No,No,Startup,Small Startup (20-50)
288,289,Female,26,Yes,Multiple,No,Tel Aviv,Center,Full-time,13 - 15,...,No,NaN,"Excel, Cognos",No,No,No,No,No,GAMFA,NaN
293,294,Female,28,Yes,Product,No,Tel Aviv,Tel Aviv,Full-time,18 - 20,...,No,NaN,Tableau,No,Medium,No,No,No,GAMFA,NaN
294,295,Female,34,Yes,Marketing,No,Center,Center,Full-time,13 - 15,...,No,NaN,Excel,No,Medium,No,Yes,Yes,GAMFA,NaN
295,296,Female,31,Yes,BI,No,North,North,Full-time,13 - 15,...,Yes,Technion,Power BI,No,Medium,Yes,Yes,Yes,Corporate,NaN
297,298,Female,31,Yes,Project analysis,No,Tel Aviv,Tel Aviv,Full-time,13 - 15,...,No,NaN,Excel,No,No,Yes,Yes,Yes,Corporate,NaN

In [9]:
df["course_taken"]

0       No
2       No
3       No
4       No
5      Yes
6       No
7       No
8       No
9       No
10      No
11      No
12      No
13      No
14      No
15      No
16      No
17      No
19      No
20      No
22      No
24      No
26      No
27      No
28      No
29     Yes
30      No
31      No
32      No
33      No
35      No
37      No
39      No
42     Yes
43     Yes
44      No
45      No
46      No
47     Yes
48     Yes
50      No
51      No
52     Yes
53      No
54      No
55     Yes
56      No
57      No
58      No
59      No
60      No
63      No
64      No
65      No
68     Yes
69      No
70      No
71     Yes
74      No
75     Yes
76     Yes
77      No
79      No
80      No
81      No
82      No
85      No
86     Yes
87     Yes
89     Yes
90      No
91      No
92     Yes
93     Yes
94      No
96     Yes
97     Yes
100     No
101     No
103     No
104     No
105     No
107     No
108    Yes
109     No
110     No
112     No
113     No
114     No
116     No
117     No
119     No
120     No
121     No
124    Yes
125    Yes
126    Yes
127     No
128    Yes
129    Yes
130     No
133     No
135     No
136     No
137     No
138     No
139     No
140     No
141     No
142     No
144     No
145     No
146     No
147     No
148    Yes
149     No
150     No
151     No
152     No
153     No
154     No
157     No
158    Yes
159     No
160     No
162     No
163    Yes
165     No
166     No
168     No
169     No
170     No
171     No
172     No
173     No
174     No
175     No
176     No
177     No
178     No
179     No
180    Yes
182     No
184     No
185     No
186     No
188     No
189    Yes
191     No
192     No
193     No
194     No
195     No
197     No
198     No
200     No
202     No
203    Yes
204     No
205     No
206     No
207     No
208     No
209     No
210     No
211    Yes
212    NaN
214     No
215    Yes
216     No
217     No
218     No
219     No
220     No
221     No
222     No
223    Yes
224     No
226     No
227     No
228     No
229    Yes
230    Yes
231     No
232     No
233    Yes
234     No
237     No
238     No
239     No
240    Yes
241     No
242     No
243     No
245     No
247     No
248     No
249    Yes
250     No
251    Yes
252     No
253     No
254     No
255     No
256     No
257    Yes
259    Yes
260     No
261    Yes
262     No
265     No
266     No
267     No
269     No
270     No
271     No
272     No
273     No
274    Yes
275     No
276    Yes
277     No
278    Yes
279    Yes
280     No
283     No
284    Yes
285     No
286     No
287     No
288     No
289     No
290     No
291     No
292     No
293     No
294     No
295    Yes
296     No
297     No
Name: course_taken, dtype: object

In [11]:
df_analysts_female["course_taken"].describe()

count     79
unique     2
top       No
freq      69
Name: course_taken, dtype: object

In [19]:
# only male analysts
df_analysts_male = df_analysts.loc[df_analysts['gender'] == "Male"]
#df_analysts_male

#df_analysts_male[["course_taken", "avg_sallary"]]

# only male who took a course
df_analysts_male_course = df_analysts_male.loc[df_analysts_male['course_taken'] == "Yes"]
df_analysts_male_course[["course_taken", "avg_sallary"]]

# only male who took a course
#df_analysts_male_course = df_analysts_male.loc[df_analysts_male['course_taken'] == "Yes"]
#df_analysts_male_course[["course_taken", "avg_sallary"]]

# only male who didnt took a course
#df_analysts_male_course = df_analysts_male.loc[df_analysts_male['course_taken'] == "No"]
#df_analysts_male_course[["course_taken", "avg_sallary"]]


# since not normal as expected, checking distribution by experience groups 
df_analysts_male_course["avg_sallary"].groupby(pd.cut(df_analysts_male_course["experience_years"], [0,1,3,6,20])).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

                    average  median   max       std  count_nonzero
experience_years
(0, 1]            15.000000    14.0  19.0  1.927248            8.0
(1, 3]            15.555556    14.0  19.0  1.885618           18.0
(3, 6]            21.166667    21.5  27.0  4.708149            6.0
(6, 20]           28.333333    34.0  34.0  9.814955            3.0

In [ ]:
df_analysts

In [ ]:
#Adjusting data - changing text values to numbers
df['gender'].replace(['Male', 'Female'], [0, 1], inplace=True)
df['data_science'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['using_sql'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['predictive_models'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['wages_decrease_covid19'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['fired_covid19'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['equity'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['manager'].replace(['No', 'Yes'], [0, 1], inplace=True)
df['course_taken'].replace(['No', 'Yes'], [0, 1], inplace=True)

#required_statistic_knowledge
df['required_statistic_knowledge'].replace(['No', 'Little', 'Medium', 'High'], [0, 1, 2, 3], inplace=True)

In [ ]:
# t test for:
import seaborn as sns
import warnings
from pylab import rcParams
from scipy.stats import f_oneway
from scipy.stats import ttest_ind

#only course taken
df_analysts_course = df_analysts[df_analysts['course_taken'] == 1]

# course taken by gender
#df_analysts["avg_sallary"].groupby([df_analysts["course_taken"], df_analysts["gender"]]).aggregate([np.average, np.median, min, max, np.std, np.count_nonzero])

#df_analysts_course["gender"].loc[df_analysts_course["gender"]==0].count() # 36

In [ ]:
# school_degree
df_school = df[["experience_years", "school_degree", "avg_sallary","course_taken", "course_name", "data_science", "gender" ]]

In [ ]:
# school_degree, salary including data scientists
#df_school["avg_sallary"].groupby([pd.cut(df_school["experience_years"], [0,1,3,6,20]), df_school["school_degree"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
# school_degree, experience years, salary including data science
#df_school["avg_sallary"].groupby([df_school["data_science"], pd.cut(df_school["experience_years"], [0,1,3,6,20]), df_school["school_degree"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
# school_degree, salary including data scientists
#df_school["avg_sallary"].groupby([df_school["data_science"], df_school["school_degree"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
#none data scientists Economics, school_degree, salary including data scientists
#df_school["avg_sallary"].groupby([df_school["data_science"], df_school["gender"], df_school["school_degree"], pd.cut(df_school["experience_years"], [0,1,3,6,20])]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
#df_school["avg_sallary"].groupby([df_school["course_taken"], pd.cut(df_school["experience_years"], [0,1,3,6,20]), df_school["course_name"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
# course taken by gender
#df_school["avg_sallary"].groupby([df_school["gender"], df_school["course_taken"], df_school["course_name"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])