In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)

df = pd.read_csv('vis_tools_2020.csv')

In [2]:
df.columns

Index(['visualization_tool'], dtype='object')

In [3]:
#remove nulls from visualization_tool
df.dropna(axis=0, how="any", thresh=None, subset=['visualization_tool'], inplace=True)
df['visualization_tool'].isna().sum()

0

In [4]:
df[['visualization_tool']].describe() #top vos tool - Tableau 115/382 30%

       visualization_tool
count                 382
unique                 37
top               Tableau
freq                  115

In [5]:
#df.value_counts().plot(kind='bar')
df.value_counts()

visualization_tool
Tableau                      115
Power BI                      65
Excel                         59
Qlik view \ Qlik sense        27
Google Data studio            19
Looker                        19
Don't use                     18
Redash                        17
Sisense                        8
Python                         6
Cognos                         2
R                              2
Metabase                       1
Lumira                         1
Kibana                         1
splunk                         1
Jupyter                        1
Oracle biee                    1
JMP                            1
Elastic                        1
Datorama                       1
Microstrategy                  1
Power BI                       1
Plotky                         1
Pov                            1
google studio                  1
Power point                    1
Pyramid                        1
Qlicksense                     1
SAS                            1
Superset                       1
We developed our own tool      1
amplitude                      1
aws sagemaker                  1
domo                           1
ggplot                         1
BO                             1
dtype: int64

In [ ]:
df.value_counts().to_frame().style.bar()

In [ ]:
#plot graph
df.hist()

In [ ]:
df[['using_sql']].describe() #187/239 use SQL

In [ ]:
df[['required_statistic_knowledge']].describe()

In [ ]:
#cleaning 

df.dropna(axis=0, how="any", thresh=None, subset=['avg_sallary'], inplace=True)
# 260 rows (38 rows didnt have salary)
df['avg_sallary'].isna().sum()

df = df[df['job_percentage'] == 'Full-time']
# 247 rows (13 rows didnt have salary)
df['job_percentage'].isna().sum()

df = df[df['data_analyzing'] == 'Yes']
# still 247 rows
df['data_analyzing'].isna().sum()

#clean people who work at the IDF - since their salary was low 
df.drop(df[df['company'] == 'IDF'].index, inplace=True)
# 239 rows (8 worked at the IDF)

In [ ]:
#SQL
df1_sql = df[["experience_years", "avg_sallary", "using_sql"]]
#df1_sql

In [ ]:
df1_sql["avg_sallary"].groupby([pd.cut(df1_sql["experience_years"], [0,1,3,6,20]),df1_sql["using_sql"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
# common visualization tool
df1_visualization_tool = df["visualization_tool"].str.split(',', n=5, expand=True)
df1_visualization_tool.astype('string')
df1_visualization_tool

In [ ]:
df1_visualization_tool.describe()

In [ ]:
x = df1_visualization_tool.stack()
x

In [ ]:
x.columns

In [ ]:
x.drop([0, 1], axis=1)

In [ ]:
#x.iloc[2]
x.tolist()

In [ ]:
from statistics import mode
mode(x)

In [ ]:
x.count() #322 rows

In [ ]:
df_x = x
df_x.describe()

In [ ]:
# df_vis = df.assign(ColumnA = df.Column2.astype(str) + ', ' + \
#   df.Column3.astype(str) + ', ' df.Column4.astype(str) + ', ' \
#   df.Column4.astype(str) + ', ' df.Column5.astype(str))

In [ ]:
# count distinct visualization_tool:
name_list = str(df1_visualization_tool["visualization_tool"]).split(',')
name_list

In [ ]:
z = name_list.tolist()

In [ ]:
# count distinct visualization_tool:
df1_visualization_tool = df1_visualization_tool.astype('string')
empty = []
#print(np.unique(str(df1_visualization_tool["visualization_tool"]).split(',')))
for i in range(len(df1_visualization_tool)):
    empty.append(str(df1_visualization_tool.iloc[i]).split(','))

print(empty)

In [ ]:
list_plat = [item for sublist in empty for item in sublist]

In [ ]:
list_plat

In [ ]:
# common visualization tool
df1_visualization_tool = df[["visualization_tool"]]
df1_visualization_tool

In [ ]:
# count distinct visualization_tool:

#print(np.unique(str(df1_visualization_tool["visualization_tool"]).split(',')))
for i in range(len(df1_visualization_tool)):
    
    visualization_tool_count=len(np.unique(str(df1_visualization_tool["visualization_tool"]).split(',')))

#print(visualization_tool_count)

In [ ]:
df1_visualization_tool.nunique()

In [ ]:
df1_visualization_tool['visualization_tool'].size

In [ ]:
# df_new = df1_visualization_tool.values.tolist()
# df_new

In [ ]:
df1_visualization_tool['visualization_tool'][0]
#df.loc[row_indexer,column_indexer]

In [ ]:
# visual_list = []
# for i in range(230):
#     visual_list.append(str(df1_visualization_tool[["visualization_tool"][i]]).split(','))
    
# print(visual_list)   
# df1_visualization_tool['visualization_tool'].value_counts()

In [ ]:
#required_statistic_knowledge
df1_required_statistic = df[["experience_years", "avg_sallary", "required_statistic_knowledge"]]
#df1_required_statistic

In [ ]:
df1_required_statistic["avg_sallary"].groupby([pd.cut(df1_required_statistic["experience_years"], [0,1,3,6,20]),df1_required_statistic["required_statistic_knowledge"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])

In [ ]:
#predictive models
df1_pred_models = df[["experience_years", "avg_sallary", "predictive_models"]]
#df1_pred_models

In [ ]:
df1_pred_models["avg_sallary"].groupby([pd.cut(df1_pred_models["experience_years"], [0,1,3,6,20]),df1_pred_models["predictive_models"]]).aggregate([np.average, np.median, max, np.std, np.count_nonzero])